* {
	/*background-color: pink;*/
}

body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-color: #777777;
	/*background: url(pink_rice.png);*/
	background: linear-gradient(gray, white);
	margin: 20px;
}
img {
	float: left;
	width: 200px;
	height: 200px;
}

h1 {
	background-color: #4aaaa5;
	border: 10px;
	border-color: #cccccc;
	color: #ffffff;
}

h2 {
	color: #4aaaa5;
}

h3 {
	color: #4aaaa5;
}

.aboutMe {

}

.contact {
	clear: both;
}

p {
	float: left;
}

footer { 
	clear: both;
	background-color: #eeeeee;
 }